<div ng-controller="myCtrl">
  <button mat-raised-button color="primary" (click)="myFunc()">Save to firestore</button>
  <p>{{ans}}</p>
</div>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts">
      <mat-expansion-panel-header>
          <mat-panel-title>
             {{post.title}}
          </mat-panel-title>
      </mat-expansion-panel-header>
            {{post.body}}
    </mat-expansion-panel>
  </mat-accordion>